# SPDX-FileCopyrightText: Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_XIP=n
CONFIG_INCLUDE_RESET_VECTOR=y
CONFIG_SRAM_BASE_ADDRESS=0x40200000
CONFIG_SRAM_SIZE=1048576
CONFIG_SYS_CLOCK_EXISTS=n
CONFIG_RISCV_MACHINE_TIMER=n
